In [1]:
!pip install pyspark

Requirement already satisfied: pyspark in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in c:\users\dell\appdata\local\programs\python\python312\lib\site-packages (from pyspark) (0.10.9.7)

In [2]:
import pyspark

In [3]:
import pandas as pd

In [4]:
df = pd.DataFrame({
    "name": ["Alice", "Mohamed", "Sara", "Youssef", "Lina"],
    "age": [24, 31, 28, 22, 35]
})

df.to_csv("cheet.csv", index=False)

In [5]:
pd.read_csv("cheet.csv")

      name  age
0    Alice   24
1  Mohamed   31
2     Sara   28
3  Youssef   22
4     Lina   35

In [6]:
from pyspark.sql import SparkSession

In [7]:
spark = SparkSession.builder.appName("learn").getOrCreate()

In [8]:
spark